<input type="text" ng-model="buscar.apellido" class="form-control">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Mail</th>
      <th>Genero</th>
      <th>Imagen</th>
    </tr>
  </thead>
  <tbody>
   <tr class="slide" ng-repeat="usuario in usuarios | limitTo:5:10 | filter:buscar |orderBy:'apellido' track by $index"> <!-- tambien se puede buscar en un campo especifico, poneiendo filter:{nombre:buscar} y del campo usuario.nombre busca el texto del input buscar. -->
      <td>{{usuario.id}}</td> <!-- $first $index $middle $last -->
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.gender}}</td>
      <td><img ng-src="{{usuario.img}}"></td>
   </tr>
  </tbody>
</table>
