<div ng-controller="CalculosCtrl">
	<div class="row">
		<button class="btn btn-success" ng-click="calculo1()">Calculo 1</button>
		<label>Resultado: {{resultado1}}</label>
	</div>
	<br>
	<div class="row">
		<button class="btn btn-warning" ng-click="calculo2()">Calculo 2</button>
		<label>Resultado: {{resultado2}}</label>
	</div>
	<br>
	<div class="row">
		<button class="btn btn-danger" ng-click="calculo3()">Calculo 3</button>
		<label>Resultado: {{resultado3}}</label>
	</div>
	<br>
</div>

Revisar que sube todo hecho en https://drive.google.com/open?id=0B1ia6bTzxCWQMVhCSi1XOHlXSDQ