<div>
	<table class="table striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Nombre Mascota</th>
				<th>Tipo Mascota</th>
				<th>Edad</th>
				<th>Editar</th>
				<th>Borrar</th>
			</tr>
		</thead>
		<tbody>
			<tr class="slide" ng-repeat="mascota in mascotas track by mascota._id">
				<td>{{$index+1}}</td>
				<td>{{mascota.nombreMascota}}</td>
				<td>{{mascota.tipoMascota}}</td>
				<td>{{mascota.edad}}</td>
				<td><button class="btn btn-small btn-warning" ng-click="editar(mascota)"><span class="glyphicon glyphicon-pencil"></span></button></td>
				<td><button class="btn btn-small btn-danger" ng-click="borrar(mascota)"><span class="glyphicon glyphicon-trash"></span></button></td>
			</tr>
		</tbody>
	</table>
</div>