<div>
	<input type="text" ng-model="buscar.nombre" class="form-control" placeholder="Buscar por nombre...">
	<table class="table striped">
		<thead>
			<tr>
				<th>Editar</th>
				<th>#</th>
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Cuatrimestre</th>
				<th>Correlativas</th>
				<th>Alumnos</th>
				<th>Borrar</th>

			</tr>
		</thead>
		<tbody>
			<tr class="slide" ng-repeat="materia in materias | filter:buscar track by materia._id ">
				<td><button class="btn btn-small btn-warning" ng-click="editar(materia)"><span class="glyphicon glyphicon-pencil"></span></button></td>
				<td>{{$index+1}}</td>
				<td>{{materia.nombre}}</td>
				<td>{{materia.descripcion}}</td>
				<td>{{materia.cuatrimestre}}</td>
				<td>{{materia.correlativas}}</td>
				<td>{{materia.alumnos}}</td>
				<td><button class="btn btn-small btn-danger" ng-click="borrar(materia)"><span class="glyphicon glyphicon-trash"></span></button></td>

			</tr>
		</tbody>
	</table>
</div>


<table class="table striped">
	<tr>
		<th>Realizar busqueda por Nombre / Descripcion</th>
		<th></th>
	</tr>
</thead>
<tbody>
	<tr class="slide" >
	<td><input type="text" ng-model="criterio" class="form-control" placeholder="Busqueda indexada"></td>
	<td><button class="btn btn-info" ng-click="buscarPorIndice(criterio)">Buscar por Tipo (Indexado)</button></td>
</tr>
</tbody>
</table>

